<h1>Ask page</h1>

  <form action="/answer"> <!-- qu'est ce que je veux ? l'url de ma réponse. -->
    <input type="text" name="message", placeholder="C'est quoi ta question?" id = "box-message">
    <input type="submit">
  </form>


